<div class="nav__size nav__background">
  <div class="flex items-center h-full ">
    <div class="flex items-center">
      <%= link_to tasks_path do %>
        <%= image_tag "Always_logo_sm.png", class: "nav__logo" %>
      <% end %>
    </div>

    <div class="flex w-full">

        <% if user_signed_in? %>

            <%= link_to "Home", "#", class: "nav__link" %>
            <%= link_to "Messages", "#", class: "nav__link" %>
            <%= link_to "Action", "#", class: "" %>
            <%= link_to "Another action", "#", class: "" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "flex justify-end items-end" %>


        <% else %>

            <%= link_to "Login", new_user_session_path, class: "" %>

        <% end %>

    </div>
  </div>
</div>
